.git
.github
.next
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*
coverage
dist
build
dev.log
*.tsbuildinfo
.claude
infrastructure/.terragrunt-local
infrastructure/live/**/.terragrunt-cache
